@using KUSYS_Demo.Domain;
@model List<Student>
<div class="modal" id="myModalUpdate">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Student Edit</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <form id="dataupdateForm">
                <div class="modal-body">
                    <span>First Name:</span><input id="firstNameUpdate" name="firstName" type="text" /><br />
                    <span>Last Name:</span><input id="lastNameUpdate" name="lastName" type="text" /><br />
                    <span>BirthDate:</span><input id="birthDateUpdate" name="birthDate" type="text" /><br />
                    <span>Course Name:</span><select name="courseId">

                    
                     @foreach (var item in Model)
                    {
                     <option  value="@item.CourseId">
                         @item.Course.CourseName
                     </option>   
                    }
                     </select>
                     <br />
                    <input hidden id="stundentIdUpdate" type="number" />
                    <button onclick="updateStudent()" type="button" class="btn btn-primary">
                        Update
                    </button>
                </div>
            </form>


            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>