<div class="modal" id="myModalDetails">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Student Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->

                <div class="modal-body">
                    <span>First Name:</span> <span id="firstNameDetails" name="firstName"> </span><br />
                    <span>Last Name:</span><span id="lastNameDetails" name="lastName"></span><br />
                    <span>BirthDate:</span><span id="birthDateDetails" name="birthDate"></span><br />
                     <span>Course Name:</span><span id="coursenameDetails" name="coursename"></span><br />
                </div>


            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>